body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	margin: 0;
}

#container {
	margin: 0 auto;
	max-width: 700px;
}

#header, #footer {
	display: block;
	color: #fff;
	background: #2279B7;

	a{
		color: #FFF;
	}
}


#header {
padding: 25px;
}

.brand{
	font-weight: bold;

}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

#header a {
text-decoration: none;
}
#header h1 {
float: left;
margin: 0;
font-weight: normal;
font-size: 30px;
line-height: 1;
}

#header nav {
display: block;
float: right;
}
#header nav ul {
margin: 0;
list-style-type: none;
}
#header nav ul li {
	float: left;
	margin-left: 20px;
}
#header nav ul li a {
	display: block;
	margin-top: 4px;
	line-height: 22px;
}
#header nav ul li a:hover,
#header nav ul li a.active {
	border-bottom: 2px solid #fff;
}
#header nav ul li a.active {
	cursor: default;
}

#content {
	display: block;
	padding: 25px;
	background: #fff;

}
#content h1 {
	margin-top: 0;
	font-size: 35px;
	font-weight: bold;
}
#content a {
	color: #da5a47;
	text-decoration: none;
}
#content a.active {
	border-bottom: 2px solid #da5a47 !important;
}
#content a:hover {
	text-decoration: underline;
}

#footer {
	padding: 15px;
	font-size: 12px;
	text-align: center;
}


.volunteer_tasks{
	list-style: none;
	padding: 0;
}

.volunteer_task{
	margin-bottom: 1em;
	padding: 20px;
	background-color: #EEE;
	h2{
		margin: 0;
		margin-bottom: 0.2em;
	}
	h3 {
		margin-bottom: 0.1em;
	}
	p {
		margin: 0;
	}
	.info_extra{
		font-size: 14px;
	}
	.task_details{
		width: 70%;
		float: left;
	}
	.task_cta{
		width: 30%;
		float: left;
	}
}