{% macro getFieldLabel(field, value) %}
  
  {% set data = [] %}
  {% set field = craft.fields.getFieldByHandle(field) %}
  {% for item in field.settings.options %}
    {% if item.value == value %}
        {{ item.label }}
    {% endif %}
  {% endfor %}

{% endmacro %}

{% macro getFieldValue(field, label) %}
  
  {% set data = [] %}
  {% set field = craft.fields.getFieldByHandle(field) %}
  {% for item in field.settings.options %}
    {% if item.label == label %}
        {{ item.value }}
    {% endif %}
  {% endfor %}

{% endmacro %}