{% set sectionTitle = "Tasks needed" %}

{% extends "_layout" %}
{% import '_snippets/_macros' as siteMacros %}
{% set selAction = craft.request.getParam('taskAction') %}
{% set selStatus = craft.request.getParam('taskStatus') %}
{% if selAction == "" %}
    {% set selAction = "All" %}
{% endif %}

{% if selStatus == "" %}
    {% set selStatus = "All" %}
{% endif %}

{% block content %}

<section class="section_tasks">

    <div class="area_selector">
        Currently showing <strong>{{ selStatus }}</strong> tickets that have <strong>{{ selAction }}</strong> recommended action status.
    </div>

    <div class="area_selector">
    <p>
        <a href="?taskStatus=All&taskAction={{ selAction }}" {% if selStatus == "All" or selStatus == "" %}class="active"{% endif %}>All</a> /
        {% set taskStatus = craft.fields.getFieldByHandle("taskStatus") %}
        {% for option in taskStatus.settings.options %}
            <a href="?taskStatus={{ option.label }}&taskAction={{ selAction }}" {% if option.label == selStatus %}class="active"{% endif %}>{{ option.label }}</a>
            {% if not loop.last %} / {% endif %}
        {% endfor %}
    </p>
    <p>
        <a href="?taskStatus={{ selStatus }}&taskAction=All" {% if selAction == "All" or selAction == "" %}class="active"{% endif %}>All</a> /
        {% set recommendedAction = craft.fields.getFieldByHandle("recommendedAction") %}
        {% for option in recommendedAction.settings.options %}
            {% if option.label != "Choose an Action:" %}
                <a href="?taskStatus={{ selStatus }}&taskAction={{ option.label }}" {% if option.label == selAction %}class="active"{% endif %}>{{ option.label }}</a>
                {% if not loop.last %} / {% endif %}
            {% endif %}
        {% endfor %}
    </p>
    </div>

    {% set selActionValue = siteMacros.getFieldValue("recommendedAction", selAction) %}
    {% set selActionStatus = siteMacros.getFieldValue("taskStatus", selStatus) %}

    {% if selActionValue == "All" and selActionStatus == "All" %}
        {% set data = craft.entries.section('tasks').order("urgent desc").find() %}
    {% elseif selActionValue == "All" and selActionStatus != "All" %}
        {% set data = craft.entries.section('tasks').taskStatus(selActionStatus).order("urgent desc").find() %}
    {% elseif selActionValue != "All" and selActionStatus == "All" %}
        {% set data = craft.entries.section('tasks').recommendedAction(selActionValue).order("urgent desc").find() %}
    {% else %}
        {% set data = craft.entries.section('tasks').taskStatus(selActionStatus).recommendedAction(selActionValue).order("urgent desc").find() %}
    {% endif %}

    <ul class="volunteer_tasks">
    	{% for entry in data %}
        {% include 'item_need.html' %}
        {% endfor %}
    </ul>
</section>


{% endblock %}
