{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<section class="section_tasks">

    <div class="area_selector">
        We need volunteers in
		<strong>Hebden Bridge</strong>
        to help with:
    </div>

    <ul class="volunteer_tasks">
    	{% for entry in craft.entries.section('tasks').find() %}
        <li class="volunteer_task cf">
            <div class="task_details">
                <h2 class="taskname">{{ entry.title }}</h2>

                <div class="info_extra">
	                <h3>Skills needed:</h3>
	                <p>{{ entry.skillsNeeded }}</p>
	            </div>

				<div class="info_extra">
	                <h3>Where:</h3>
	                <p><a href="http://google.com/maps?q={{ entry.location }}" target="_blank">{{ entry.location }}</a></p>
	            </div>

	            <div class="info_extra">
	            	<h3>You will need:</h3>
	                <p>{{ entry.youWillNeed }}</p>
	            </div>
            </div>

            <div class="task_cta">
            	<div class="number_needed">
            		{{ entry.numberOfHelpersNeeded }}
            		People needed
            	</div>
            	<div class="button_cta">
            		<button class="js_task_action_cta">Assigned</button>
            	</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>


{% endblock %}
