        <li class="volunteer_task cf">
            <div class="task_details">

                <h2 class="taskname"><a href="/admin/entries/offers/{{ entry.id }}-{{ entry.slug }}">#{{ entry.id }} - {{ entry.firstName }} {{ entry.lastName }} {% if entry.urgent %}<strong>(URGENT)</strong>{% endif %}</a></h2>

                <div class="info_extra">
                    <h3>Contact:</h3>
                    <p>
                        {% if entry.contactNumber | length > 0 %}
                            <span class="contactnumber">{{ entry.contactNumber }}</span>
                        {% endif %}
                        {% if entry.contactNumber | length > 0 and entry.emailAddress | length > 0 %}
                         /
                        {% endif %}
                        {% if entry.emailAddress | length > 0 %}
                            {{ entry.emailAddress }}
                        {% endif %}
                    </p>
                </div>

                {% if entry.otherContactInfo | length > 0 %}
                <div class="info_extra">
                    <h3>Other contact info:</h3>
                    <p>{{ entry.otherContactInfo }}</p>
                </div>
                {% endif %}

                <div class="info_extra">
	                <h3>Skills offered:</h3>
	                <p>
                        {% if entry.skillsOffered | length > 0 %}
                            {% for skill in entry.skillsOffered %}
                                <span class="highlight">{{ skill }}</span>
                            {% endfor %}
                        {% else %}
                        n/a
                        {% endif %}
                    </p>

                    <h3>Equipment offered:</h3>
                    <p>
                        {% if entry.equipmentOffered | length > 0 %}
                            {% for equipment in entry.equipmentOffered %}
                                <span class="highlight">{{ equipment }}</span>
                            {% endfor %}
                        {% else %}
                        n/a
                        {% endif %}
                    </p>

                    {% if entry.extraInfo | length > 0 %}
                        <h3>Extra information</h3>
                        <p>{{ entry.extraInfo }}</p>
                    {% endif %}

	            </div>

                {% if entry.accommodationOffered %}
                <div class="accomodation">

                    <h3>Accommodation offered</h3>

                    <div class="info_extra">

                        <h3>Duration:</h3>
                        <p>{{ siteMacros.getFieldLabel("duration", entry.duration) }}</p>

                        <h3>How many people:</h3>
                        <p>{{ entry.howManyPeople }}</p>

                        <h3>Any other info:</h3>
                        <p>{{ entry.anyOtherRequirements }}</p>

                    </div>

                </div>
                {% endif %}

            </div>

            <div class="task_cta">

                <div class="info_extra">
                    <h3>Where:</h3>
                    <p>
                        {% if entry.addressLine1 | length > 0 %}{{ entry.addressLine1 }}<br />{% endif %}
                        {% if entry.addressLine2 | length > 0 %}{{ entry.addressLine2 }}<br />{% endif %}
                        {% if entry.postCode | length > 0 %}{{ entry.postCode }}{% endif %}
                    </p>

                    <h3>Status:</h3>
                    <p>{{ siteMacros.getFieldLabel("taskStatus", entry.taskStatus) }}</p>

                </div>

            </div>

        </li>