{% extends "_layout" %}
{% import '_snippets/_macros' as siteMacros %}
{% set selSkill = craft.request.getParam('skillOffered') %}
{% set selStatus = craft.request.getParam('taskStatus') %}
{% if selSkill == "" %}
    {% set selSkill = "All" %}    
{% endif %}

{% if selStatus == "" %}
    {% set selStatus = "All" %}
{% endif %}

{% block content %}

<section class="section_tasks">

    <div class="area_selector">
        Currently showing <strong>{{ selStatus }}</strong> offers of help that are/have <strong>{{ selSkill }}</strong>.
    </div>

    <div class="area_selector">
    <p>
        <a href="?taskStatus=All&skillOffered={{ selSkill }}" {% if selStatus == "All" or selStatus == "" %}class="active"{% endif %}>All</a> / 
        {% set taskStatus = craft.fields.getFieldByHandle("taskStatus") %}
        {% for option in taskStatus.settings.options %}
            <a href="?taskStatus={{ option.label }}&skillOffered={{ selSkill }}" {% if option.label == selStatus %}class="active"{% endif %}>{{ option.label }}</a>
            {% if not loop.last %} / {% endif %}
        {% endfor %}
    </p>
    <p>
        <a href="?taskStatus={{ selStatus }}&skillOffered=All" {% if selSkill == "All" or selSkill == "" %}class="active"{% endif %}>All</a> / 
        {% set skillsOffered = craft.tags.group("skills") %}
        {% set equipmentOffered = craft.tags.group("equipment") %}
        {% set tags = equipmentOffered | merge(skillsOffered) %}
        {% for option in tags %}
            <a href="?taskStatus={{ selStatus }}&skillOffered={{ option.title }}" {% if option.title == selSkill %}class="active"{% endif %}>{{ option.title }}</a>
            {% if not loop.last %} / {% endif %}
        {% endfor %}
    </p>
    </div>

    {% set selActionStatus = siteMacros.getFieldValue("taskStatus", selStatus) %}
    {% set skillTagModel = craft.tags.search(selSkill).first() %}

    {% if selSkill == "All" and selActionStatus == "All" %}
        {% set data = craft.entries.section('offers').order("urgent desc").find() %}
    {% elseif selSkill == "All" and selActionStatus != "All" %}
        {% set data = craft.entries.section('offers').taskStatus(selActionStatus).order("urgent desc").find() %}
    {% elseif selSkill != "All" and selActionStatus == "All" %}
        {% set data = craft.entries.section('offers').relatedTo(selSkill).order("urgent desc").find() %}
    {% else %}
        {% set data = craft.entries.section('offers').taskStatus(selActionStatus).relatedTo(skillTagModel).order("urgent desc").find() %}
    {% endif %}

    <ul class="volunteer_tasks">
    	{% for entry in data %}
        <li class="volunteer_task cf">
            <div class="task_details">

                <h2 class="taskname"><a href="/admin/entries/offers/{{ entry.id }}-{{ entry.slug }}">#{{ entry.id }} - {{ entry.firstName }} {{ entry.lastName }} {% if entry.urgent %}<strong>(URGENT)</strong>{% endif %}</a></h2>
                
                <div class="info_extra">
                    <h3>Contact:</h3>
                    <p>
                        {% if entry.contactNumber | length > 0 %}
                            {{ entry.contactNumber }}
                        {% endif %}
                        {% if entry.contactNumber | length > 0 and entry.emailAddress | length > 0 %}
                         / 
                        {% endif %}
                        {% if entry.emailAddress | length > 0 %}
                            {{ entry.emailAddress }}
                        {% endif %}
                    </p>
                </div>

                {% if entry.otherContactInfo | length > 0 %}
                <div class="info_extra">
                    <h3>Other contact info:</h3>
                    <p>{{ entry.otherContactInfo }}</p>
                </div>
                {% endif %}

                <div class="info_extra">
	                <h3>Skills offered:</h3>
	                <p>
                        {% if entry.skillsOffered | length > 0 %}
                            {% for skill in entry.skillsOffered %}
                                {{ skill }},
                            {% endfor %}
                        {% else %}
                        n/a
                        {% endif %}
                    </p>

                    <h3>Equipment offered:</h3>
                    <p>
                        {% if entry.equipmentOffered | length > 0 %}
                            {% for equipment in entry.equipmentOffered %}
                                {{ equipment }},
                            {% endfor %}
                        {% else %}
                        n/a
                        {% endif %}
                    </p>

                    {% if entry.extraInfo | length > 0 %}
                        <h3>Extra information</h3>
                        <p>{{ entry.extraInfo }}</p>
                    {% endif %}

	            </div>

                {% if entry.accommodationOffered %}
                <div class="accomodation">

                    <h3>Accommodation offered</h3>

                    <div class="info_extra">
                        
                        <h3>Duration:</h3>
                        <p>{{ siteMacros.getFieldLabel("duration", entry.duration) }}</p>

                        <h3>How many people:</h3>
                        <p>{{ entry.howManyPeople }}</p>

                        <h3>Any other info:</h3>
                        <p>{{ entry.anyOtherRequirements }}</p>

                    </div>

                </div>
                {% endif %}

            </div>

            <div class="task_cta">

                <div class="info_extra">
                    <h3>Where:</h3>
                    <p>
                        {% if entry.addressLine1 | length > 0 %}{{ entry.addressLine1 }}<br />{% endif %}
                        {% if entry.addressLine2 | length > 0 %}{{ entry.addressLine2 }}<br />{% endif %}
                        {% if entry.area | length > 0 %}{{ siteMacros.getFieldLabel("area", entry.area) }}<br />{% endif %}
                        {% if entry.postCode | length > 0 %}{{ entry.postCode }}{% endif %}
                    </p>

                    <h3>Status:</h3>
                    <p>{{ siteMacros.getFieldLabel("taskStatus", entry.taskStatus) }}</p>

                </div>

            </div>

        </li>
        {% endfor %}
    </ul>
</section>


{% endblock %}
